/*------------------------------------*\
  #FONTS
\*------------------------------------*/

@font-face {
  font-family: "GeneralSans";
  font-weight: 200;
  src: url("../fonts/GeneralSans-Regular.woff2") format("woff");
}

@font-face {
  font-family: "GeneralSans";
  font-weight: 400;
  src: url("../fonts/GeneralSans-Medium.woff2") format("woff");
}


/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
  Generic: Page
  ---
  Global page styles + universal box-sizing:
*/

html {
  font-size: 18px;
  line-height: 20px;
  font-family: "GeneralSans", Helvetica, arial, sans-serif;
  font-weight: 200;
  background-attachment: fixed;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*------------------------------------*\
#CSS VARIABLES
\*------------------------------------*/

:root {
  --themed-color:bisque;
  --tile-border-radius:5px;
  --enc-table-border-radius:15px;

  --side-button-height:120px;
  --side-button-margin-top:34px;
  --side-button-margin-side: 20px;

  --base-saturation-enctiles:saturate(70%);
  --medium-saturation-enctiles:saturate(200%);

  --base-saturation-buttons:saturate(130%);
  --medium-saturation-buttons:saturate(200%) brightness(115%);
  
  --dropshadow-hover:drop-shadow(0 1px 0 white) drop-shadow(0 -1px 0 white);
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
  Elements: Images
  ---
  Default markup for images to make them responsive
*/

img {
  max-width: 100%;
  vertical-align: top;
}

/*
  Elements: typography
  ---
  Default markup for typographic elements
*/

h1,
h2,
h3 {
  font-weight: 200;
}

h1 {
  line-height: 24px;
  font-size:24px;
  color:#f7f7f7;
}

h2 {
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 24px;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
  Objects: Row
  ---
  Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
  display: flow-root; /* New solution! Fixes margin collapsing */
  justify-content: space-between;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
  Component: Logo
  ---
  Website main logo
*/

.c-header-wrapper {
  padding-top:5px;
}

.c-header-wrapper > div {
  display: flex;
  justify-content: space-between;
}

.c-header-wrapper > div > div{
  display: flex;
}

.c-header-wrapper > div > div > * {
  margin-left:10px;
}

.c-header-wrapper > div > div > img {
  width: 120px;
}

.c-logo {
  margin-top:2px;
}

.teleport_function {
  display:block;
  opacity: 100%;
  width:74px;
  height:64px;
  margin: 4px 10px 4px 0px;
}

.teleport_function:hover,.teleport_function:active,.teleport_function:focus {
  opacity:100%;
}

@keyframes tp-anim {
  0% {
    filter:brightness(100%)
  }
  50% {
    filter:brightness(60%)
  }

  100% {
    filter:brightness(100%)
  }
}

@-webkit-keyframes tp-anim {
  0% {
    filter:brightness(100%)
  }
  50% {
    filter:brightness(60%)
  }

  100% {
    filter:brightness(100%)
  }
}
/* 
.teleport_function:not(.teleport_function:hover) {
  animation: tp-anim 1.8s linear infinite;
  -webkit-animation: tp-anim 1.8s linear infinite;
} */

/*
  Component: header/intro
  ---
  Main header of the website
*/

.u-header {
  background-color:var(--themed-color);
}

/*
  Component: map
  ---
  Customise map areas
*/

.resp_row {
  padding-top:20px;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  flex-direction: row;
}

.resp_row > * {
  margin: 0 20px;
}

@media (min-width:932px) {
  .resp_row > * {
    margin: 0 40px;
  }
} 

@media (min-width:1080px) {
  .resp_row > * {
    margin: 0 60px;
  }
} 


/* @media (max-width:998px) {
  .poketch_wrapper {
    display: flex;
    justify-content: center;
  }
} */

.poketch_background {
  width:356px;
  height:471px;
  background: url("/frontend/img/poketch_empty.png") no-repeat;
  background-size: contain;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.map_wrapper { 
  display:flex;
  justify-content: center;
  margin-top:20px;
  margin-bottom:20px;    
}

.tp_map {
  background: url("/frontend/img/teleport_map.png") no-repeat;
  background-size:cover;
  border-radius: var(--tile-border-radius);
}

.map_row {
  display: grid;
  grid-template-columns: repeat(32,6.7px);
  /*grid-template-rows: repeat(32);*/
}

.map_row > * {
  margin-top: -1px;
  /* width: 9px; */
  height: 6.8px;
}

.map_row {
  filter: sepia(20%) saturate(120%);
}

.map_row:first-child > *:first-child {
  border-top-left-radius: var(--tile-border-radius);
}
.map_row:first-child > *:last-child {
  border-top-right-radius: var(--tile-border-radius);
}
.map_row:last-child > *:first-child {
  border-bottom-left-radius: var(--tile-border-radius);
}
.map_row:last-child > *:last-child {
  border-bottom-right-radius: var(--tile-border-radius);
}

.teleport_map {
  width:214.4px;
  height:185.6px;
  border-radius: var(--tile-border-radius);
}

.full_map {
  background: url("/frontend/img/teleport_map.png") no-repeat;
  background-size: contain;
}


/*
  Component: tiles
  ---
  Customise tile effects
*/

.tile:not(.grass,.water,.opac50) {
  opacity:70%;
}

.opac50{
  opacity: 50%;
}

@keyframes enc-anim {
  0% {
    filter:var(--base-saturation-enctiles);
  }
  50% {
    filter:var(--medium-saturation-enctiles);
  }

  100% {
    filter:var(--base-saturation-enctiles);
  }
}

@-webkit-keyframes enc-anim {
  0% {
    filter:var(--base-saturation-enctiles);
  }
  50% {
    filter:var(--medium-saturation-enctiles);
  }

  100% {
    filter:var(--base-saturation-enctiles);
  }
}

.grass,.water {
  animation: enc-anim 2s linear infinite;
  -webkit-animation: enc-anim 2s linear infinite;
}

/* .water {

} */

/*
  Component: directions
  ---
  Customise directional buttons
*/

.direction_left {
  margin-right: var(--side-button-margin-side);
  /* background-color:green; */
}

.direction_left > img {
  height: var(--side-button-height);
  margin-top: var(--side-button-margin-top);
}

.direction_right {
  margin-left: var(--side-button-margin-side);
  /* background-color:red; */
}

.direction_right > img {
  height:var(--side-button-height);
  margin-top:var(--side-button-margin-top);
}

.direction_down,.direction_up {
  width:150px;
  display:block;
  margin:0 auto;
  /* background-color:blue; */
  
}

@keyframes button-anim {
  0% {
    filter:var(--base-saturation-buttons)
  }
  50% {
    filter:var(--medium-saturation-buttons)
  }

  100% {
    filter:var(--base-saturation-buttons)
  }
}

@-webkit-keyframes button-anim {
  0% {
    filter:var(--base-saturation-buttons)
  }
  50% {
    filter:var(--medium-saturation-buttons)
  }

  100% {
    filter:var(--base-saturation-buttons)
  }
}

.dir_anim {
  animation: button-anim 1.8s linear infinite;
  -webkit-animation: button-anim 1.8s linear infinite;
}

@media (pointer: fine) {
  .direction:not(.arrow_disable).direction:hover {
    -webkit-filter: var(--dropshaddow-hover);
    filter: var(--dropshadow-hover);
  }
}

.arrow_disable {
  opacity:16%;
  -webkit-filter: saturate(0%) brightness(100%);
  filter: saturate(0%) brightness(100%);

}

/*
  Component: encounters
  ---
  Customise encounters
*/

.flex_encounters {
  width:400px;
}

.encounter_header {
  margin-top:10px;
  display:flex;
  justify-content: center;
}

@media (min-width:853px) {
  .center_margin {
    margin-top: 200px;
  }
} 

.encounter_wrapper {
  display:flex;
  justify-content: center;
}

table {
  margin-bottom: 2em;
  border-spacing: 0pt;
  border-collapse: separate;
}

table td {
  text-align: center;
}

th {
  background-color: var(--themed-color);
}

th,td {
  padding: 10pt;
  border: 1px solid var(--themed-color);
}

/* td > p {
  width:60px;
} */

td > div {
  width:60px;
}

td:first-child > div{
  width:90px;
}

td:last-child> div {
  width:20px;
}

table tr:first-child th:first-child {
  border-top-left-radius: 15px;
}

table tr:first-child th:last-child{
  border-top-right-radius: 15px;
}

table tbody:last-child td:first-child{
  border-bottom-left-radius: 15px;
}

table tbody:last-child td:last-child{
  border-bottom-right-radius: 15px;
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

