/*------------------------------------*\
  #FONTS
\*------------------------------------*/

@font-face {
  font-family: "GeneralSans";
  font-weight: 200;
  src: url("../fonts/GeneralSans-Regular.woff2") format("woff");
}

@font-face {
  font-family: "GeneralSans";
  font-weight: 400;
  src: url("../fonts/GeneralSans-Medium.woff2") format("woff");
}


/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
  Generic: Page
  ---
  Global page styles + universal box-sizing:
*/

html {
  font-size: 18px;
  line-height: 20px;
  font-family: "GeneralSans", Helvetica, arial, sans-serif;
  font-weight: 200;
  background-attachment: fixed;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
  Elements: Images
  ---
  Default markup for images to make them responsive
*/

img {
  max-width: 100%;
  vertical-align: top;
}

/*
  Elements: typography
  ---
  Default markup for typographic elements
*/

h1,
h2,
h3 {
  font-weight: 200;
}

h1 {
  font-size: 36px;
  line-height: 48px;
  margin: 0 0 24px;
}

h2 {
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 24px;
}

h3 {
  font-size: 26px;
  line-height: 32px;
  margin: 0 0 24px;
}

h4,
h5,
h6 {
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
  margin: 0 0 24px;
}

ul,
ol {
  padding-left: 24px;
}

li ul,
li ol {
  margin-bottom: 0;
}

.svg {
  width:20px;
}

blockquote {
  font-style: normal;
  font-size: 23px;
  line-height: 32px;
  margin: 0 0 24px;
}

blockquote * {
  font-size: inherit;
  line-height: inherit;
}

figcaption {
  font-weight: 200;
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
}

/* hr {
  border: 0;
  height: 1px;
  background: LightGrey;
  margin: 0 0 24px;
} */





/* 
a {
  color: white;
  transition: all .1s ease-in-out;
} */

a:visited,
a:active,
a:focus {
  color: #748c00
}

a:hover {
  color: #d2e673;
}


/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
  Objects: Row
  ---
  Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
  display: flow-root; /* New solution! Fixes margin collapsing */
  justify-content: space-between;
}

/* size modifiers */

.o-row--lg {
  padding: 48px 24px 24px;
}

/* color modifiers */

.o-row--neutral-xxxx-light {
  background-color: #fff;
}

@media (min-width: 769px) {
  .o-row {
      padding-left: 48px;
      padding-right: 48px;
  }

  .o-row--md {
      padding-top: 23px;
      padding-bottom: 24px;
  }

  .o-row--lg {
      padding-top: 72px;
      padding-bottom: 48px;
  }
}

/*
  Objects: Container
  ---
  Creates a horizontal container that sets de global max-width
*/

.o-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 90em; /* 71 * 18px = 1278px */
  flex-wrap: wrap;
}

/*
  Objects: section
  ---
  Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
  /* overflow-x: hidden; */
  position: relative;
  display: flow-root;
}

.o-section + .o-section {
  padding-top: 24px;
}

@media (min-width: 769px) {
  .o-section--lg + .o-section--lg,
  .o-section--xl + .o-section--xl {
      padding-top: 48px;
  }
}

@media (min-width: 1400px) {
  .o-section--xl + .o-section--xl {
      padding-top: 72px;
  }
}

/*
  Objects: Layout
  ---
  The layout object provides us with a column-style layout system. This object
  contains the basic structural elements, but classes should be complemented
  with width utilities
*/

.o-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.o-layout__item {
  flex-basis: 100%;
  
}

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
  margin: 0px;
}

.o-layout--gutter > .o-layout__item {
  padding: 0 12px;
}

.o-layout--gutter-sm {
  margin: 0 -6px;
}

.o-layout--gutter-sm > .o-layout__item {
  padding: 0 6px;
}

.o-layout--gutter-lg {
  margin: 0 40px;
}

.o-layout--gutter-lg > .o-layout__item {
  padding: 0 40px;
}

@media (max-width: 992px) {
  .c-live {
    margin-left: 20px;
    width: 1000px;
  }
}



/* reverse horizontal row modifier */

.o-layout--row-reverse {
  flex-direction: row-reverse;
}

.o-layout--row {
  flex-direction: row;
}


/* Horizontal alignment modifiers*/

.o-layout--justify-start {
  justify-content: flex-start;
}

.o-layout--justify-end {
  justify-content: flex-end;
}

.o-layout--justify-center {
  justify-content: center;
}

.o-layout--justify-space-around {
  justify-content: space-around;
}

.o-layout--justify-space-evenly {
  justify-content: space-evenly;
}

.o-layout--justify-space-between {
  justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
  align-items: flex-start;
}

.o-layout--align-end {
  align-items: flex-end;
}

.o-layout--align-center {
  align-items: center;
}

.o-layout--align-baseline {
  align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is one than one flex item */

.o-layout--align-content-start {
  align-content: start;
}

.o-layout--align-content-end {
  align-content: end;
}

.o-layout--align-content-center {
  align-content: center;
}

.o-layout--align-content-space-around {
  align-content: space-around;
}

.o-layout--align-content-space-between {
  align-content: space-between;
}

/*
  Objects: List
  ---
  Small reusable object to remove default list styling from lists
*/

.o-list {
  list-style: none;
  padding: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
  Component: Logo
  ---
  Website main logo
*/

.c-logo {
  height: 32px;
  display: flex;
  color:#f7f7f7;
}

@media (max-width: 992px) {
  .c-logo {
    margin-left: 24px;
  }
}

/*
  Component: header/intro
  ---
  Main header of the website
*/

.note {
  font-size: 16px;
  color: rgb(240, 240, 240)
}

.u-header {
  background-color:#080808;
}

@media (min-width: 769px) {
  .c-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .c-header__nav {
      display: block;
  }
}

.c-intro-stat {
  background-color:#080808;
}

@media (min-width: 992px) {
  .c-intro-menu {
    background-color:#080808;
  }
  .c-intro-img {
    max-width: 60%;
  }
}

/*
  Component: map
  ---
  Customise map areas
*/



.poketch_wrapper {
  padding-top:20px;
  display: flex;
  justify-content: center;
}

.poketch_background {
  width:356px;
  height:471px;
  background: url("/frontend/img/poketch_m.png") no-repeat;
  background-size: contain;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 2000px) {
  .map_wrapper { 
    display:flex;
    justify-content: center;
    margin-top:25px;
    margin-bottom:30px;
  }
  .map_row {
    display: grid;
    grid-template-columns: repeat(32,6.2px);
    /*grid-template-rows: repeat(32);*/
  }

  .map_row > * {
    margin-top: -1px;
    /* width: 9px; */
    height: 5.8px;
  }
}
.direction_left {
  margin-top:18px;
  margin-bottom:4px;
  width:30px;
  margin-right: 30px;
  /* background-color:green; */
}

.direction_right {
  margin-top:18px;
  margin-bottom:4px;
  width:30px;
  margin-left: 30px;
  /* background-color:red; */
}

.direction_down,.direction_up {
  width:160px;
  height:62px;
  display:block;
  margin:0 auto;
  /* background-color:blue; */
}


.direction:hover{
  -webkit-filter: drop-shadow(1px 1px 0 black)
  drop-shadow(-1px -1px 0 black);
  filter: drop-shadow(1px 1px 0 black) 
  drop-shadow(-1px -1px 0 black);
}

.opac50 {
  opacity: 50%;
}

.arrow_disable {
  opacity:40%;
}

.encounter_header {
  margin-top:10px;
  display:flex;
  justify-content: center;
}

.encounter_wrapper {
  display:flex;
  justify-content: center;
}

table {
  margin-bottom: 2em;
  border-spacing: 0pt;
  border-collapse: separate;
}

table td {
  text-align: center;
}

th,td {
  padding: 10pt;
  border: 1px solid #502481;
}

table tr:first-child th:first-child {
  border-top-left-radius: 15px;
}

table tr:first-child th:last-child{
  border-top-right-radius: 15px;
}

table tbody:last-child td:first-child{
  border-bottom-left-radius: 15px;
}

table tbody:last-child td:last-child{
  border-bottom-right-radius: 15px;
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

