/*------------------------------------*\
  #FONTS
\*------------------------------------*/

@font-face {
  font-family: "GeneralSans";
  font-weight: 200;
  src: url("../fonts/GeneralSans-Regular.woff2") format("woff");
}

@font-face {
  font-family: "GeneralSans";
  font-weight: 400;
  src: url("../fonts/GeneralSans-Medium.woff2") format("woff");
}


/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
  Generic: Page
  ---
  Global page styles + universal box-sizing:
*/

html {
  font-size: 18px;
  line-height: 20px;
  font-family: "GeneralSans", Helvetica, arial, sans-serif;
  font-weight: 200;
  background-attachment: fixed;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*------------------------------------*\
#CSS VARIABLES
\*------------------------------------*/

:root {
  --tile-border-radius:5px;
  --enc-table-border-radius:15px;
  --side-button-height:120px;
  --side-button-margin-top:34px;
  --side-button-margin-side: 20px;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
  Elements: Images
  ---
  Default markup for images to make them responsive
*/

img {
  max-width: 100%;
  vertical-align: top;
}

/*
  Elements: typography
  ---
  Default markup for typographic elements
*/

h1,
h2,
h3 {
  font-weight: 200;
}

h1 {
  line-height: 24px;
  font-size:24px;
  color:#f7f7f7;
}

h2 {
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 24px;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
  Objects: Row
  ---
  Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
  display: flow-root; /* New solution! Fixes margin collapsing */
  justify-content: space-between;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
  Component: Logo
  ---
  Website main logo
*/

.c-header-wrapper {
  padding-top:5px;
}

.c-header-wrapper > div {
  display: flex;
  justify-content: space-between;
}

.c-header-wrapper > div > div{
  display: flex;
}

.c-header-wrapper > div > div > * {
  margin-left:10px;
}

.c-header-wrapper > div > div > img {
  width: 36px;
}

.c-logo {
  margin-top:2px;
  width:9%;
}

.teleport_function {
  display:block;
  opacity: 60%;
  width:74px;
  height:64px;
  margin: 4px 10px 4px 0px;
}

.teleport_function:hover,.teleport_function:active,.teleport_function:focus {
  opacity:100%;
}

@keyframes tp-anim {
  0% {
    opacity:60%;
  }
  50% {
    opacity:90%;
  }

  100% {
    opacity:60%;
  }
}

@-webkit-keyframes tp-anim {
  0% {
    opacity:60%;
  }
  50% {
    opacity:90%;
  }

  100% {
    opacity:60%;
  }
}

.teleport_function:not(.teleport_function:hover) {
  animation: tp-anim 1.8s linear infinite;
  -webkit-animation: tp-anim 1.8s linear infinite;
}

/*
  Component: header/intro
  ---
  Main header of the website
*/

.u-header {
  background-color:#080808;
}

/*
  Component: map
  ---
  Customise map areas
*/

.poketch_wrapper {
  padding-top:20px;
  display: flex;
  justify-content: center;
}

.poketch_background {
  width:356px;
  height:471px;
  background: url("/frontend/img/poketch_empty.png") no-repeat;
  background-size: contain;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 2000px) {
  .map_wrapper { 
    display:flex;
    justify-content: center;
    margin-top:20px;
    margin-bottom:20px;    
  }

  .tp_map {
    background: url("/frontend/img/teleport_map.png") no-repeat;
    background-size:cover;
    border-radius: var(--tile-border-radius);
  }

  .map_row {
    display: grid;
    grid-template-columns: repeat(32,6.7px);
    /*grid-template-rows: repeat(32);*/
  }

  .map_row > * {
    margin-top: -1px;
    /* width: 9px; */
    height: 6.8px;
  }

  .map_row {
   filter: sepia(20%) saturate(120%);
  }

  .map_row:first-child > *:first-child {
    border-top-left-radius: var(--tile-border-radius);
  }
  .map_row:first-child > *:last-child {
    border-top-right-radius: var(--tile-border-radius);
  }
  .map_row:last-child > *:first-child {
    border-bottom-left-radius: var(--tile-border-radius);
  }
  .map_row:last-child > *:last-child {
    border-bottom-right-radius: var(--tile-border-radius);
  }

  .teleport_map {
    width:214.4px;
    height:185.6px;
    border-radius: var(--tile-border-radius);
  }

  .full_map {
    background: url("/frontend/img/teleport_map.png") no-repeat;
    background-size: contain;
  }

}

/*
  Component: tiles
  ---
  Customise tile effects
*/

/* .grass,.water {
} */

/* .water {

} */

/*
  Component: directions
  ---
  Customise directional buttons
*/

.direction_left {
  margin-right: var(--side-button-margin-side);
  /* background-color:green; */
}

.direction_left > img {
  height: var(--side-button-height);
  margin-top: var(--side-button-margin-top);
}

.direction_right {
  margin-left: var(--side-button-margin-side);
  /* background-color:red; */
}

.direction_right > img {
  height:var(--side-button-height);
  margin-top:var(--side-button-margin-top);
}

.direction_down,.direction_up {
  width:150px;
  display:block;
  margin:0 auto;
  /* background-color:blue; */
  
}

@keyframes button-anim {
  0% {
    filter:saturate(130%);
  }
  50% {
    filter:saturate(200%) brightness(115%);
  }

  100% {
    filter:saturate(130%);
  }
}

@-webkit-keyframes button-anim {
  0% {
    filter:saturate(130%);
  }
  50% {
    filter:saturate(200%) brightness(115%);
  }

  100% {
    filter:saturate(130%);
  }
}

.dir_anim {
  animation: button-anim 1.8s linear infinite;
  -webkit-animation: button-anim 1.8s linear infinite;
}

@media (pointer: fine) {
  .direction:not(.arrow_disable).direction:hover {
    -webkit-filter: drop-shadow(0 1px 0 white)
    drop-shadow(0 -1px 0 white);
    filter: drop-shadow(0 1px 0 white) 
    drop-shadow(0 -1px 0 white);
  }
}

.arrow_disable {
  opacity:16%;
  -webkit-filter: saturate(0%) brightness(100%);
  filter: saturate(0%) brightness(100%);

}

.opac50{
  opacity: 50%;
}

/*
  Component: encounters
  ---
  Customise encounters
*/




.encounter_header {
  margin-top:10px;
  display:flex;
  justify-content: center;
}

.encounter_wrapper {
  display:flex;
  justify-content: center;
}

table {
  margin-bottom: 2em;
  border-spacing: 0pt;
  border-collapse: separate;
}

table td {
  text-align: center;
}

th,td {
  padding: 10pt;
  border: 1px solid #502481;
}

table tr:first-child th:first-child {
  border-top-left-radius: 15px;
}

table tr:first-child th:last-child{
  border-top-right-radius: 15px;
}

table tbody:last-child td:first-child{
  border-bottom-left-radius: 15px;
}

table tbody:last-child td:last-child{
  border-bottom-right-radius: 15px;
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

